# Restrict access to following folders

## MICR_base
MICR_base/

## EEG Experiment
MICR-EEG/

MICR_Documents/
MICR_Surveys/


### Stimuli
SentenceStim/
DiphthongStim_varied/

### Data
data/
__pycache__/




## MICR-Online


### Stimuli Files & Data
stimPrep/
results/

template/

MICRnt/

audio/
images/
*.consent.html



# Logs
logs
*.log

firebase-debug.log*

# Firebase cache
.firebase/
.firebaserc

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# dotenv environment variables file
.env
.Rproj.user
